@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(254, 254, 254);
}


.dropdownLeft
{
  position: absolute; 
  inset: 0px 0px auto auto; margin: 0px; 
  transform: translate3d(-229.6px, 180px, 0px);
}